<img src="assets/images/banner.png" alt="Баннер" class="rounded mx-auto d-block" style="width: 80%; height: 80%">
<div class="text mt-3"> <span class="p-lg-0">Насколько захватывающими могут быть морские сражения?</span>
    <br>
    <span class="p-lg-0">Откройте для себя и своих близких онлайн-игру «Battle Ships» и погрузитесь в мир баталий за безграничные водные дали!</span>
    <br>
    <span class="ml-2">Морской бой — онлайн-игра для двух соперников. Заходите, расставляйте корабли, дождитесь противника и начинайте играть вдвоем. Для многих поколений игра привычно велась на листе бумаги в клетку.
    Два нарисованных поля 10х10 превращались в полосу перекрестного огня, но теперь все стало гораздо проще!
        Авторизуйтесь на сайте и играйте в удовольствие, позабыв о лишней трате времени на разлиновку листа и вырисовывание кораблей.</span>
    <button  class="btn btn-success mb-2" routerLink="/battleboard">Играть</button>
    Удача сегодня на вашей стороне!
    <br>
</div>
