<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Войти с помощью</h5>
                    <form class="form-signin">
                        <a href="{{url}}" class="vk">
                            <img alt="Вход с помощью Vk" src="/assets/images/vkontakte.png" class="btn-img justify-content-center align-items-center">
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
